/coverage
/demo/dist
/es
/lib
/node_modules
/umd
npm-debug.log*

# IDE
/.idea
/.awcache
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
